.page_title_area {
    position: relative;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    background: none !important;
    margin: 0 0 30px !important;
    zoom: 1;
}

.page_title_area h2 {
    text-align: center;
    width: 100%;
    font-family: georgia, "times new roman", �섎닎怨좊뵓, "malgun gothic", dotum, tahoma;
    font-size: 20px;
    color: rgb(73, 73, 73);
    font-weight: bold;
    text-transform: capitalize;
    background-color: rgb(214, 214, 214);
    margin: 0px 0px -1px;
    padding: 0px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.table-cart {
    margin-top: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #b7b7b7;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
    font-size: 12px;
    line-height: 1.25;
    color: #8a8a8a;
    font-family: Dotum, AppleGothic, Helvetica, sans-serif;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table-cart tbody td {
    padding-bottom: 2px !important;
}
.table-cart tbody td {
    padding: 3px 0 3px;
}

.table-cart thead th {
    padding: 7px 0 6px;
    background-color: #ededed;
}

.table-cart tbody tr.nbg td {
    background-image: none;
}
.table-cart tbody td {
    padding-bottom: 2px !important;
}
.table-cart tbody td {
    padding: 3px 0 3px;
}
.table-cart tbody td, .table-cart tfoot {
    background: url(image/dot_h1_w10.gif) repeat-x 0 0;
}

.tb-left {
    text-align: left;
}
.tb-left, .tb-center, .tb-right {
    padding: 0 10px;
}
.tb-left a{
    color: #787878;
    text-decoration: none;
}
.tb-bold{
	font-weight: bold;
}
.tb-right {
	text-align: right;
}
.tb-center {
    text-align: center;
}
.tb-right {
    text-align: right;
}

.table-cart tfoot {
    background: none !important;
}
.table-cart tfoot td {
    padding: 10px 0;
    font-weight: bold;
}
tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
}
.table-cart tfoot strong {
    color: #be101a;
}
strong, b {
    font-weight: bold;
}