@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

input[type=button]  {
   color: white;
   background-color:gray;
   border: none;
   font-size:8pt;
   height:20px;'
   }
   
   input[type=submit]  {
   color: white;
   background-color:gray;
   border: none;
   font-size:8pt;
   height:20px;'
   }
