.table-slide tbody, .table-slide thead, .table-slide table, .table-slide tr, .table-slide th, .table-slide td {
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 12px;
    line-height: 1.25;
    color: #8a8a8a;
    font-family: Dotum, AppleGothic, Helvetica, sans-serif;
}


#detail_qna {
    position: relative;
}

.qna-list {
    margin-top: 15px;
}

.table-slide {
    position: relative;
}

.table-slide table {
    border-top: 4px solid #e5e5e5;
}

.table-slide table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table-slide colgroup {
    display: table-column-group;
}

.table-slide col {
    display: table-column;
}



.tb-center {
    cursor: default !important;
}

.tb-center {
    text-align: center;
}

.tb-left, .tb-center, .tb-right {
    padding: 0 10px;
}

.table-slide table, .table-slide img {
    vertical-align: middle;
}

.qna-inner {
    width: 835px;
    margin: 100px auto 0;
}

.table-slide thead th {
    border-bottom: 1px solid #cecece;
    font-weight: normal;
    background: url("image/board_title_bar.png") no-repeat left center;
}

.tb-left, .tb-center, .tb-right {
    padding: 0 10px;
}

.table-slide a{
	text-decoration: none;
}