@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

form { margin: 0 auto;  /* 회원관리 폼 700px로 고정 및 가운데 정렬 */width:700px;}
.member a  {font-size: 12px; color:gray;}
table {border-collapse:collapse; text-align:center; border:3px solid lightgray;  align: center;} 
td{padding-bottom: 15px; padding-top: 15px; }
input {outline-style:none;}
input[type=password] { size: 30; font-size: 15px;}
input[type=text] {
	size: 30;
	font-size: 12px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 1px soild gray;
}

input[type=password] {
	size: 30;
	font-size: 12px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 1px soild gray;
}

input[type=email] {
	size: 30;
	font-size: 12px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 1px soild gray;
}

img {
	vertical-align: middle;
	outline-style: none;
}

select {
	font-size: 10px;
}

input[type=button]  {
   color: white;
   background-color:lightgray;
   border: none;
   font-size:8pt;
   height:20px;'
   }
   
   .form  {font-size: 12px; color:gray;}