@CHARSET "UTF-8";

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}

body{
	background-color: #f5f5f5;
	font-family: 'Nanum Gothic', sans-serif;
}

.qna_menu_area {
    width: 100%;
    text-align: center;
    margin: 0 0 50px;
    padding: 0px 0;
    border: 0px;
  
}


h1, h2, h3, h4, h5, h6, table, input, select, textarea {
    font-size: 12px;
    line-height: 1.25;
    color: #8a8a8a;
    font-family: Dotum, AppleGothic, Helvetica, sans-serif;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.qna_menu_area h2 {
    margin: 0 0 50px;
    padding: 0;
    font-size: 0;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.qna_menu_area ul {
    margin: 0;
    padding: 0;
}

.qna_menu_area ul li {
    display: inline-block;
    zoom: 1;
    margin: 0 10px;
    padding: 0;
}

li {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
}

user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
Inherited from div#container
#container {
    width: 1280px;
    margin: 0;
    zoom: 1;
    background-color: #fff;
}

caption, legend {
    display: none;
}

colgroup {
    display: table-column-group;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table-list thead th {
    padding: 5px 0 13px;
    border-top: 4px solid #e5e5e5;
    border-bottom: 1px solid #cecece;
    font-weight: normal;
    color: #666;
    font-size: 11px;
}
.bbs-table-list thead th {
    color: #9d9d9d;
    font-weight: bold;
    font-size: 11px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.bbs-table-list thead th .tb-center.border_right {
    border-right: 1px solid #e3e3e3;
}

.tb-center {
    text-align: center;
}

.tb-left, .tb-center, .tb-right {
    padding: 0 10px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.bbs-table-list tbody td {
    padding: 11px 0 9px;
    border-bottom: 1px dotted #e3e3e3;
    line-height: 140%;
    text-align: center;
    vertical-align: middle;
    background: none;
}

bbs-table-list thead th, .bbs-table-list tbody td {
    padding: 6px 0;
}

.bbs-table-list thead th {
    padding: 5px 0 13px;
    border-top: 4px solid #e5e5e5;
    border-bottom: 1px solid #cecece;
    font-weight: normal;
    color: #666;
    font-size: 11px;
}

.bbs-link-btm {
    margin-top: 10px;
    text-align: right;
    display: block;
    margin: 10px 0 0 0;
    text-align: right;
}

.bbs-sch {
    margin: 0;
    padding: 15px 22px;
    color: #8b8b8b;
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: right;
}

html, body, pre, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, li, ol, th, td, p, blockquote, form, fieldset, legend, menu, nav, section, hgroup, article, header, aside, footer, input, select, textarea, button {
    margin: 0;
    padding: 0;
}

user agent stylesheet
form {
    display: block;
    margin-top: 0em;
}

select {
    line-height: 18px;
    height: 18px;
}

.bbs-sch {
    margin: 0;
    padding: 15px 22px;
    color: #8b8b8b;
    font-size: 11px;
    text-align: center;
}

