@CHARSET "UTF-8";


body, h1, h2, h3, h4, h5, h6, table, input, select, textarea {
    font-size: 12px;
    line-height: 1.25;
    color: #8a8a8a;
    font-family: Dotum, AppleGothic, Helvetica, sans-serif;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.page_title_area {
    position: relative;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    background: none !important;
    margin: 0 0 30px !important;
    zoom: 1;
}

user agent stylesheet
div {
    display: block;
}

.page_title_area h2 {
    text-align: center;
    width: 100%;
    margin: 0 0 -1px 0;
    padding: 0 0 0 0;
    font-family: "georgia","times new roman","나눔고딕","malgun gothic",dotum,tahoma;
    font-size: 20px;
    color: #494949;
    font-weight: bold;
    text-transform: capitalize;
    border-bottom: 1px solid #000;
    background-color: #d6d6d6 !important;
}

table {
    table-layout: fixed;
    border-top: 2px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;

    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
}

table th {
    width: 140px;
    padding: 23px 0 18px 22px;
    border-top: 1px solid #e7e7e7;
    background: #f6f6f6;
    color: #414141;
    text-align: left;
    line-height: 140%;
}

tbody th, td {
    padding: 6px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    color: #9d9d9d;
    font-weight: normal;
    font-size: 11px;
}

table td.info {
    width: auto;
    padding: 23px 0 18px 22px;
    border-top: 1px solid #e7e7e7;
    color: #8f8f8f;
    line-height: 140%;
    font-size: 11px;
}

#bw_input_subject{
    width: 460px;
}

.MS_input_txt {
    margin-right: 5px;
    padding: 2px 0 0 2px;
    line-height: 17px;
    border: 1px solid #dcdcdc;
}

button, input, select, textarea, a, table, th, td {
    vertical-align: middle;
}

table th {
    width: 140px;
    padding: 23px 0 18px 22px;
    border-top: 1px solid #e7e7e7;
    background: #f6f6f6;
    color: #414141;
    text-align: left;
    line-height: 140%;
}

#forpadding{
	padding-right: 22px;
}
/* .content_wrap_area {
    position: absolute;
    z-index: 1;
    background-color: #fff;
} */

