/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}

body{
	background-color: #f5f5f5;
	font-family: 'Nanum Gothic', sans-serif;
}

.side{
	left: 0px;
	top: 0px;
	width: 290px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
}

.side a{
	text-decoration: none;
	color: rgb(51, 51, 51);
}

.side a:HOVER{
	opacity: 0.8;
}

.side_inner{
	position: fixed;
	width: 220px;
}

.side_inner_top{
	float: right;
	width: 180px;
	text-align: right;
	line-height: 200%;
	font-size: 12px;
	padding-bottom: 40px;
	padding-top: 40px;
	font-weight: 700;
	letter-spacing: 1px;
}

.side_inner_middle{
	float: left;
	width: 180px;
	font-size: 15px;
	line-height: 300%;
	font-weight: 700;
	letter-spacing: 1px;
	color: rgb(51, 51, 51);
}


.container {
	overflow:hidden;
	position: absolute;
	z-index: 1;
	left: 310px;
	top: 0px;
	background-color: #fff;
	
}

img{
	vertical-align: middle;
}

.container_top{
	overflow:hidden;
	width: 1280px;
	height: 150px;
	margin: 0px;
	text-align: center;
}

.logo{
	overflow:hidden;
	position: relative;
	margin-top: 40px;
	padding: 0 62.5px;
}

.container_middle{
	overflow:hidden;
	position: relative;
	width: 1280px;
	margin: 0px;
}

.content{
	position: relative;
	margin: 0 auto;
	padding: 0 62.5px;
}

.container_footer{
	position: relative;
	width: 1280px;
	margin: 0;
	margin-top: 200px;
}

.rolling a { 
    color: #787878;
    text-decoration: none;
    font-size: 13px;
}

.rolling #scroll {
	height: 20px;
}

.rolling{
	float: right;
	/*
	width: 500px;
	height: 40px;
	padding-right: 62.5px;
	display: inline; */
}

.rolling ul{
	padding: 0;
	margin: 0;
}

.rolling li {
	float: left;
	list-style: none;
	position: relative;
	height: 21px;
	font-size: 13px;
}

.rolling_title{
	float: left;
	font-size: 13px;
	font-weight: bold;
	color: #8a8a8a;
}
.rolling_text{
	float: left;
	margin-left: 4px;
	width: 280px;
}

/* widget_main_visual_area */
.widget_main_visual_area{
	height: 583px;
}

.slider{
	height: 583px;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper ul{
	padding: 0;
	margin: 0;
}

.bx-wrapper li {
	float: left;
	list-style: none;
}

.footer_content{
	position: relative;
	margin: 0px;
	padding: 0 62.5px;
}

.footer_info{	
	position: relative;
	margin: 0 auto;
	padding: 10px 0 20px 0;
	border-top: 1px solid #cecece;
}

.address{
	font-size: 13px;
}

#info1{
	color: rgb(108, 108, 108);
	font-family: "Nanum Gothic", sans-serif;
	font-size: 13px;
	font-style: italic;
	font-weight: 700;
	text-align: right;
	margin-top: 13px;
	margin-bottom: 13px;
}

#info2{
	color: rgb(156, 156, 156);
	font-family: "Nanum Gothic", sans-serif;
	font-size: 13px;
	text-align: right;
	margin-top: 13px;
	margin-bottom: 13px;
}

.copyright{
	margin-top: 13px;
	margin-bottom: 13px;
}
